ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    margin: 0;
    padding: 0;
}

header {
    height: 44px;
    background: #FF6E4F;
}

.header__inner {
    display: flex;
    justify-content: space-between;
}

.header__dropdownTitle {
    color: #fff;
    cursor: pointer;
}