.workspaces-link {
  text-decoration: none;
  color: black;
}

.workspaces-list {
  display: flex;
  gap: 36px;
}

.workspace-card {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 198px;
  border-radius: 4px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
  border: solid 1px #F2F2F2;
}

.workspace_cover {
  position: relative;
  display: flex;
  align-items: end;
  padding: 16px;
  height: 100%;
  background-color: hotpink;
}

.workspaces_info {
  color: white;
}

.workspaces-container {
  display: flex;
  flex-direction: column;
  width: 70%;
}
