:root {
    --stroke: #F2F2F2;
    --background: #FBFBFB;
    --shadow: rgba(0, 0, 0, 0.05);
    --focus: #FF6E4F;
}

.board-window {
    width: 70%;
}

.board__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    border-bottom: 1px solid gray;
    padding-bottom: 24px;
    margin-bottom: 24px;
    margin-top: 38px;
}

.board-inner {
    display: flex;
    gap: 36px;
}

.list {
    min-width: 284px;
    height: fit-content;
    background-color: var(--background);
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.list-title {
    font-weight: 300;
    font-size: 14px;
    line-height: 100%;
    cursor: pointer;
}

.list_work-area {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
    gap: 4px;
    width: 100%;
}

.list-cover {
    width: 100%;
    height: 119px;
    border: solid 1px var(--stroke);
    background-color: #FFFFFF;
}

.list_card {
    width: 100%;
    height: fit-content;
    border: solid 1px var(--stroke);
    box-shadow: 0px 0px 25px var(--shadow);
    padding: 8px 8px;
    border-radius: 4px;
    flex: none;
    order: 1;
    flex-grow: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.modal-window {
    position: absolute;
    top: 44px;
    right: 0;
    bottom: 0;
    left: 0;
    border: solid pink;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    height: 100%;
    width: 100vw;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-window-wrapper {
    z-index: 10;
    width: 1000px;
    height: 742px;
    display: flex;
    flex-direction: column;
    padding: 0px 44px 8px 44px;
    background-color: var(--background);
    border-radius: 4px;
}

.modal-window_title {
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
}

.modal_title-container {
    display: flex;
    gap: 8px;
}

.modal-title-text {
    display: flex;
    align-items: center;
    font-family: sans-serif;
    resize: none;
    align-self: start;
    height: 24px;
    padding: 4px;
    border: none;
}

.modal-title-text:read-write {
    outline: solid 1px var(--focus);
}

.modal-title-text:read-write:focus {
    outline: solid 1px var(--focus);
}

.modal-window_content {
    background-color: white;
    height: 100%;
}
