.participants {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
}

.participant {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.participant-del-btn:hover {
    cursor: pointer;
}

.participant-del-btn {
    position: absolute;
    top: 0px;
    right: 0px;
}

.participant-icon {
    width: 60px;
    height: 60px;
    outline: 1px solid grey;
    border-radius: 10px;
}

.participant {
    width: 100px;
    height: 100px;
    /*outline: 1px solid grey;*/
}

.participants-group {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 120px;
    border-top: 1px solid grey;
    align-items: center;
}

.participant-add-btn:hover {
    cursor: pointer;
}
