:root {
  --stroke: #F2F2F2;
  --background: #FBFBFB;
  --shadow: rgba(0, 0, 0, 0.05);
  --focus: #FF6E4F;
}

.dialog-header_title {
  height: 44px;
  width: 100%;
  padding-right: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
}

.modal-window_title-text {
  resize: none;
  height: 18px;
  width: 100%;
  overflow: hidden;
  border: none;
  text-overflow: ellipsis;
}

.modal-window_title-text:read-write {
  outline: solid 1px var(--focus);
}

.modal-window_title-text:read-write:focus {
  outline: solid 1px var(--focus);
}

.modal-window_description {
  display: flex;
  flex-direction: column;
}

.modal-window_body-text {
  resize: none;
  padding: 8px;
  width: 100%;
  overflow-y: hidden;
}

.modal-window_footer-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal_delete-button {
  border: none;
  background: none;
  cursor: pointer;
}

.modal_delete-button:hover > img {
  filter: invert(23%) sepia(34%) saturate(6750%) hue-rotate(354deg) brightness(121%) contrast(108%);
  transform: scale(1.1);
}

.modal-window_color-picker {
  width: 100%;
  height: 180px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.modal-window_color-picker:focus {
  outline: none;
}

.modal-window_color-picker:hover {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}
