.link-board {
    margin-right: 24px;
}

.title-workspace {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
}

.board {
    background: gray;
    height: 100px;
    width: 200px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.board-item {
    position: relative;
}

.board:hover {
    cursor: pointer;
}

.link {
    text-decoration: none;
    color: black;
}

.workspace-window {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.boards-group {
    display: flex;
    flex-direction: row;
}

.board-link-add {
    width: 283px;
    height: 100px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    position: relative;
}

.board-link_add {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.board-link-add:hover {
    border: 2px solid #FF6E4F;
    cursor: pointer;
}

.boards_trashBin-icon {
    border: 0;
    background: 0;
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
}
  
.boards_trashBin-img {
    cursor: pointer;
}

.board-item:hover > .boards_trashBin-icon {
    display: block;
}